@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Teste na App</p>

<div>
    <li>
        Consectetur adipiscing elit fusce vel.
    </li>
    <li>Sapien elit in malesuada semper.</li>
    <li>Mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac.</li>
    <li>Ipsum gravida vel pretium tellus.</li>
</div>
<div>
    <li>Consectetur adipiscing elit fusce vel.</li>
    <li>Sapien elit in malesuada semper.</li>
    <li>Mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac.</li>
    <li>Ipsum gravida vel pretium tellus.</li>
</div>
<div>
    <li>Consectetur adipiscing elit fusce vel.</li>
    <li>Sapien elit in malesuada semper.</li>
    <li>Mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac.</li>
    <li>Ipsum gravida vel pretium tellus.</li>
</div>
