@model List<Aula1AspNetMVC.Models.Client>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach (var client in Model)
{
    <li>@Html.DisplayFor(m => client.Name) @Html.DisplayFor(m => client.Surname)</li>
}

@section scripts {
    <script>
        $(document).ready(function() {
            $("li").click(function() {
                $(this).hide();
            });
        });
    </script>
}

